@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

icon {
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
}
